<?xml version="1.0" encoding="utf-8" ?>

<Client platform="openstack" CVE="log4shell" url="https://htmlpreview.github.io/?https://github.com/hkwany/VIndex/blob/master/VIndex/Vindex%20cbaee41244644c55b51e40a52a480273/log4shellpoc/log4shell%20poc%20instructions%20%26%20walkthrough%2023a26724347349ebb79a0e428037b6dd.html">
  <VM>
    <Machine username="log4shell" password="log4shell" name="Log4Shell" uuid="{1d201bff-d69d-46d6-bd60-4d768bd244a7}" OSType="Ubuntu2004" Project="ARPDemo" Domain="default">
      <VNC enabled="true">
        <VNCPort>5901</VNCPort>
      </VNC>
      <Network>
        <Adapter name="Provider" enabled="true" IP="10.10.0.219" MACAddress="0800275F82B1"/>
      </Network>
    </Machine>
  </VM>
</Client>

<VM>
  {%- for vm in vms %}
  <Machine name="{{ vm.hostname }}" OSType="{{ vm.image }}" Node="{{ vm.node }}" ExperimentName="{{ experiment_metadata.ExperimentName }}" TeamName="{{ experiment_metadata.TeamName }}">
    <Hardware>
      <Memory RAMSize="default"/>
      {%- if vm.vrdeport|length %}
      <RemoteDisplay enabled="true">
      {%- else %}
      <RemoteDisplay enabled="false">
      {% endif %}
        <VRDEProperties>
          <vrdeport value="{{ vm.vrdeport }}"/>
          <vrdeaddress value="127.0.0.1"/>
        </VRDEProperties>
      </RemoteDisplay>
      <Network>
        <Adapter slot="0" enabled="true">
          <NAT>
          {%- for index in range(vm.guest_port_forward|length) %}
            <Forwarding hostip="127.0.0.1" hostport="{{ vm.host_port_forward[index] }}" guestport="{{ vm.guest_port_forward[index] }}"/>
          {%- endfor %}
          </NAT>
        </Adapter>
        {%- if vm.hostonly_network is defined and vm.hostonly_network[0]|length %}
        {%- for index in range(vm.hostonly_network|length) %}
        <Adapter slot="{{ index+1 }}" enabled="true">
          <HostOnlyInterface name="{{ vm.hostonly_network[index] }}" IP="{{ vm.hostonly_ip[index] }}"/>
        </Adapter>
        {%- endfor %}
        {%- endif %}
        {%- if vm.internal_network is defined and vm.internal_network[0]|length %}
        {%- for index in range(vm.internal_network|length) %}
        <Adapter slot="{{ index + vm.hostonly_network|length +1 }}" enabled="true">
          <InternalNetwork name="{{ vm.internal_network[index] }}" IP="{{ vm.internal_ip[index] }}"/>
        </Adapter>
        {%- endfor %}
        {%- endif %}
      </Network>
      <SharedFolders>
      </SharedFolders>
    </Hardware>
    <Software>
    {%- for service in vm.service %}
      <Service name="{{ service }}"/>
    {%- endfor %}
    </Software>
  </Machine>
  {%- endfor %}
</VM>


