#!/bin/bash

# virtualbox extpack & ssh key
wget https://download.virtualbox.org/virtualbox/5.2.12/Oracle_VM_VirtualBox_Extension_Pack-5.2.12.vbox-extpack -O ~/Extension_Pack
sudo vboxmanage extpack install ~/Extension_Pack
vboxmanage extpack install ~/Extension_Pack
vboxmanage list extpacks
ssh-keygen -t rsa
# ssh-copy-id vagrant@remote_VMs_ip

{% for service in node['service'] %}
{% with mount_src_directory=service['configuration']['mount_src_directory']%}
    {% include "%s/script.sh" % service['name'] %}
{% endwith %}
{% endfor %}

{#-
{% for service in node['services'] %}
{#- MUST use 'service['parameter'], which has been customized by users, instead of using service_yml_content['parameter'] which is a configuration menu #}
{%- if 'parameter' in service %}
{#- For service that has parameter #}
{%- if not 'Error' in service['parameter'] %}
{#- MUST use 'service['parameter'], which has been customized by users, instead of using service_yml_content['parameter'] which is a configuration menu #}
{% with parameter=service['parameter'], service_yml_content = yaml_service_load(service['name'])%}
{%- include "%s/%s_node.j2" % (service['name'],service['name']) %}
{%- endwith %}
{%- endif %}
{%- else %}
{#- For service that doesn't have parameter #}
{%- with service_yml_content = yaml_service_load(service['name']) %}
{%- include "%s/%s_node.j2" % (service['name'],service['name']) %}
{%- endwith %}
{%- endif %}
#}

