<?xml version="1.0" encoding="utf-8" ?>
<VM>
  {%- for vm in vms %}
  <Machine name="{{ vm.hostname }}" OSType="{{ vm.image }}" Node="{{ vm.node }}" ExperimentName="{{ experiment_metadata.ExperimentName }}" TeamName="{{ experiment_metadata.TeamName }}">
    <Hardware>
      <Memory RAMSize="default"/>
      {%- if vm.vrdeport|length %}
      <RemoteDisplay enabled="true">
      {%- else %}
      <RemoteDisplay enabled="false">
      {% endif %}
        <VRDEProperties>
          <vrdeport value="{{ vm.vrdeport }}"/>
          <vrdeaddress value="127.0.0.1"/>
        </VRDEProperties>
      </RemoteDisplay>
      <Network>
        <Adapter slot="0" enabled="true">
          <NAT>
          {%- for index in range(vm.guest_port_forward|length) %}
            <Forwarding hostip="127.0.0.1" hostport="{{ vm.host_port_forward[index] }}" guestport="{{ vm.guest_port_forward[index] }}"/>
          {%- endfor %}
          </NAT>
        </Adapter>
        {%- if vm.hostonly_network is defined and vm.hostonly_network[0]|length %}
        {%- for index in range(vm.hostonly_network|length) %}
        <Adapter slot="{{ index+1 }}" enabled="true">
          <HostOnlyInterface name="{{ vm.hostonly_network[index] }}" IP="{{ vm.hostonly_ip[index] }}"/>
        </Adapter>
        {%- endfor %}
        {%- endif %}
        {%- if vm.internal_network is defined and vm.internal_network[0]|length %}
        {%- for index in range(vm.internal_network|length) %}
        <Adapter slot="{{ index + vm.hostonly_network|length +1 }}" enabled="true">
          <InternalNetwork name="{{ vm.internal_network[index] }}" IP="{{ vm.internal_ip[index] }}"/>
        </Adapter>
        {%- endfor %}
        {%- endif %}
      </Network>
      <SharedFolders>
      </SharedFolders>
    </Hardware>
    <Software>
    {%- for service in vm.service %}
      <Service name="{{ service }}"/>
    {%- endfor %}
    </Software>
  </Machine>
  {%- endfor %}
</VM>


