set ns [new Simulator]

source tb_compat.tcl


# Set node OS from saved image
{% for index in range (2) %}
tb-set-node-os n{{ index }} Ubuntu1604-64-STD
{% endfor %}

set lan0 [$ns make-lan "${{ n1 }} ${{ n2 }}" 10Gb 0ms]

# Set node ip.
tb-set-ip-lan ${{ n1 }} $lan0 {{ n1_gateway }}
tb-set-ip-lan ${{ n2 }} $lan0 {{ n2_gateway }}

# Set route and adjust configure.
$ns rtproto Static

# Go!
$ns run