set ns [new Simulator]

source tb_compat.tcl

# Add nodes
{% for node in nodes %}
set {{ node.name }} [$ns node]
{% endfor %}


# Set node OS from saved image
{% for node in nodes %}
tb-set-node-os ${{ node.name }} Ubuntu1604-64-STD
{% endfor %}


# Set LAN
{% for lan in lans %}
{# set NODES {{ lan.endpoints|length }} #}
set lanstr ""
{% for node in lan.endpoints %}
append lanstr "${{ node }} "
{% endfor %}

# Change the BW and delay if you want
set {{ lan.name }} [$ns make-lan "$lanstr" 100Mb 0ms]
{% endfor %}

# Set node ip.
{% for node in nodes %}
tb-set-ip-lan ${{ node.name }} ${{ node.lan }} {{ node.lan_node_ip }}
{% endfor %}

# Set route and adjust configure.
$ns rtproto Static

# Go!
$ns run