# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box_check_update = false
  {% for vm in vms %}
  config.vm.define "{{ vm.hostname }}" do |node|
    node.vm.box = "{{ vm.image }}"
    {% for ip in vm.ip %}
    node.vm.network "private_network", ip: "{{ ip }}"
    {% endfor %}
    node.vm.network "forwarded_port", guest:80, host:8080, host_ip:"127.0.0.1"
  end
  {% endfor %}
end
