# Service: nginx (scripts for node)
# This script suits for nginx_version==1.3.9/1.4.0, verification is needed for other versions.
sudo apt-get install -y {{ service_yml_content['dependency']|join(" ") }}
wget http://nginx.org/download/nginx-{{ parameter['nginx_version'] }}.tar.gz
tar zxf nginx-{{ parameter['nginx_version'] }}.tar.gz
cd nginx-{{ parameter['nginx_version'] }}
./configure \
    {%- for configure in service_yml_content['configure'] %}
    {%- if loop.index != service_yml_content['configure']|length %}
    {{ configure }} \
    {%- else %}
    {{ configure }}
    {%- endif %}
    {%- endfor %}

make
sudo make install
sed -i 's/.\{8\}listen.\{7\}80;/        listen       {{ parameter['nginx_port'] }};/g' /etc/nginx/nginx.conf
# TODO
sudo cp nginx_initd /etc/init.d/
sudo chmod 755 /etc/init.d/nginx_initd
sudo update-rc.d -f nginx defaults   // make nginx system-started at rc1 2 3 4(run-level: 2 3 4 5)
# delete
# sudo update-rc.d nginx remove
sudo service nginx restart
