    # Service: essentials_common (scripts for ansible)
    - name: apt-get update
      become: yes
      become_user: root
      apt:
        update_cache: yes

    {%- if service['packages'] is not none %}
    - name: install essential packages
      become: yes
      become_user: root
      apt:
      {%- raw %}
        name: "{{ item }}"
      {%- endraw %}
        state: present
        update_cache: yes
      loop:
      {%- for package in service['packages'] %}
        - {{ package }}
      {%- endfor %}
    {%- endif %}