    # Service: php7.0 (scripts for ansible)

    - name: apt-repo & update
      become: yes
      become_user: root
      apt_repository:
        validate_certs: no
        repo: 'ppa:ondrej/php'
        state: present
        update_cache: yes

    - name: apt install
      become: yes
      become_user: root
      apt:
        {% raw %}
        name: "{{ item }}"
        {% endraw %}
        state: present
      loop:
        {%- for dependency in service_yml_content['dependency'] %}
        - {{ dependency }}
        {%- endfor %}

    - name: remove purge php7.4*
      become: yes
      become_user: root
      shell:
        cmd: apt-get -y purge php7.4*