    # service: apache2
    - name: apt install
      become: yes
      become_user: root
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - apache2

    - name: Recursively remove directory
      become: yes
      become_user: root
      file:
        path: /var/www/html
        state: absent

    - name: unarchive prepared html directory, have renamed index.html
      become: yes
      become_user: root
      unarchive:
        src: services/apache2/html.tar.gz
        remote_src: no
        copy: yes
        dest: /var/www/

    - name: configure apache2
      become: no
      become_user: root
      script: services/apache2/script.sh

    - name: reload service apache2, in all cases
      become: yes
      become_user: root
      systemd:
        name: apache2
        state: reloaded

    - name: restart service apache2, in all cases
      become: yes
      become_user: root
      systemd:
        name: apache2
        state: restarted
