    # service: binspace
    - name: unarchive binspace
      unarchive:
        src: /Users/hkwany/PycharmProjects/Conductor/services/binspace/binspace.tar.gz
        remote_src: no
        copy: yes
        dest: /home/{{ USER }}/
