    # service: django2
    {% raw %}
    - name: apt install pip3
      become: yes
      become_user: root
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - python3-pip

    - name: pip install django
      pip:
       name: "{{ item }}"
       extra_args: --user
       executable: pip3
      loop:
        - django
    {% endraw %}

    - name: decompression django folder to home/
      unarchive:
        src: {{ conductor_path }}/services/django2/sherlock-website-django.tar.gz
        copy: yes
        dest: /home/{{ USER }}/