    # service: django using pip3
    {% raw %}
    - name: pip install django
      pip:
       name: "{{ item }}"
       extra_args: --user
       executable: pip3
      loop:
        - django
    {% endraw %}
