    # service: FlowSim
    {% raw %}
    - name: apt install essentials for FlowSim
      become: yes
      become_user: root
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - libcurl4-openssl-dev
        - cmake
        - python3.7-dev
        - libssl-dev
        - python3-pip
    {% endraw %}

    - name: decompression FlowSim folder to home directory
      unarchive:
        src: {{ conductor_path }}/services/flowsim/FlowSim.tar.gz
        copy: yes
        dest: /home/{{ USER }}/

    - name: Create a symbolic link
      file:
        src: /opt/attribution/flowsim/TaintRuleDB
        dest: /home/{{ USER }}/TaintRuleDB
        state: link

    - name: copy VM2_pip_requirements to home/
      copy:
        src: {{ conductor_path }}/services/flowsim/VM2_pip_requirements.txt
        dest: /home/{{ USER }}/VM2_pip_requirements.txt

    - name: pip install requirements
      pip:
        requirements: /home/{{ USER }}/VM2_pip_requirements.txt
        extra_args: --user
        executable: pip3

    - name: delete VM2_pip_requirements.txt from home/
      file:
        path: /home/{{ USER }}/VM2_pip_requirements.txt
        state: absent

    - name: copy libkeystone.so
      become: yes
      become_user: root
      copy:
        src: {{ conductor_path }}/services/flowsim/libkeystone.so
        dest: /usr/local/lib/libkeystone.so

    - name: copy keystone.py
      become: no
      become_user: root
      copy:
        src: {{ conductor_path }}/services/flowsim/keystone.py
        dest: ~/.local/lib/python3.7/site-packages/keystone/keystone.py

    - name: expand swap
      become: yes
      become_user: root
      script: /home/localuser/Conductor/services/fstab/swap.sh

    - name: copy squirrel_framework to home/
      become: no
      become_user: root
      copy:
        src: {{ conductor_path }}/services/flowsim/squirrel_framework-0.1.12-py3-none-any.whl
        dest: /home/{{ USER }}/squirrel_framework-0.1.12-py3-none-any.whl

    - name: pip install squirrel
      pip:
        name: file:///home/{{ USER }}/squirrel_framework-0.1.12-py3-none-any.whl
        extra_args: --user
        executable: pip3

    - name: delete squirrel_framework from home/
      file:
        path: /home/{{ USER }}/squirrel_framework-0.1.12-py3-none-any.whl
        state: absent


