    # service: mariadb
    {% raw %}
    - name: apt install
      become: yes
      become_user: root
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - libmysqlclient-dev
        - mariadb-server
    {% endraw %}

{# #
    - name: copy databases.sql to home/
      copy:
        src: {{ conductor_path }}/services/mariadb/*.sql
        dest: /home/{{ USER }}/*.sql

    - name: import databases & grants
      script: services/mariadb/script.sh

    - name: delete databases.sql from home/
      file:
        path: /home/{{ USER }}/*.sql
        state: absent
#}