    # service: apache2
    {% raw %}
    - name: apt install
      become: yes
      become_user: root
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - apache2
    {% endraw %}

    - name: restart service apache2, in all cases
      become: yes
      become_user: root
      service:
        name: apache2
        state: restarted
