    # service: essentials_common
    - name: apt-get update
      become: yes
      become_user: root
      apt:
        update_cache: yes

    {% raw %}
    - name: apt install essentials
      become: yes
      become_user: root
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - net-tools
        - software-properties-common
    {% endraw %}