    # service: zara,zara.launcher
    - name: unarchive zara
      become: yes
      become_user: root
      unarchive:
        src: {{ conductor_path }}/services/zara/zara.tar.gz
        copy: yes
        dest: /opt/
