    # Service: unarchive (scripts for ansible)
    - name: unarchive
      unarchive:
        src: /Users/hkwany/Pycharm_Projects/nus-ncl/Conductor/output/conductor/log4shell/n1/deploy.zip
        dest: /home/vagrant
