    # Service: unarchive (scripts for ansible)
    - name: unarchive
      unarchive:
        src: /home/hkwany/PycharmProjects/Conductor/output/conductor/log4shell/n1/deploy.zip
        dest: /home/vagrant
