{% for vm in vms %}
[{{ vm['name'] }}]
#only show the first hostonly_network ip, guarantee it's accessible from ansible manager
{%- if vm['network']|length %}
{#- for index in range(vm['network']|length) #}
{%- if vm['network'][0]['type'] == 'hostonly' %}
{{ vm['network'][0]['ip'] }}
{%- endif %}
{%- endif %}
{% endfor %}

{% for vm in vms %}
[{{ vm['name'] }}:vars]
{%- if vm['os']['platform'] == 'Windows' %}
ansible_connection=winrm
ansible_port=5985
{%- endif %}
{%- if vm['os']['platform'] == 'Linux' %}
ansible_connection=ssh
ansible_port=22
{%- endif %}
ansible_password=vagrant
ansible_user=vagrant
ansible_python_interpreter=/usr/bin/python3
{% endfor %}

