#!/bin/bash

# virtualbox extpack & ssh key
wget https://download.virtualbox.org/virtualbox/{{ node_virtualbox_version }}/Oracle_VM_VirtualBox_Extension_Pack-{{ node_virtualbox_version }}.vbox-extpack -O ~/Extension_Pack
sudo vboxmanage extpack install ~/Extension_Pack
vboxmanage extpack install ~/Extension_Pack
vboxmanage list extpacks
# used for node to ssh into its VMs
ssh-keygen -t rsa
# ssh-copy-id vagrant@remote_VMs_ip

# Create Host Adapter for VMs
# No need to create real Host Adapter for internal_network, which is specified by 'virtualbox__intnet' in Vagrantfile
{%- for hostonly_network in node['hostonly_network'] %}
vboxmanage hostonlyif create
vboxmanage hostonlyif ipconfig {{ hostonly_network['name'] }} --ip {{ hostonly_network['ip'] }} --netmask {{ hostonly_network['netmask'] }}
{%- endfor %}

{% for service in node['services'] %}
{#- MUST use 'service['parameter'], which has been customized by users, instead of using service_yml_content['parameter'] which is a configuration menu #}
{%- if 'parameter' in service %}
{#- For service that has parameter #}
{%- if not 'Error' in service['parameter'] %}
{% with parameter=service['parameter'] %}
{%- include "%s/%s_node.j2" % (service['name'],service['name']) %}
{%- endwith %}
{%- endif %}
{%- else %}
{#- For service that doesn't have parameter #}
{%- with service_yml_content = yaml_service_load(service['name']) %}
{% include "%s/%s_node.j2" % (service['name'],service['name']) %}
{%- endwith %}
{%- endif %}
{% endfor %}


