# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box_check_update = false
  {%- for vm in vms %}
  config.vm.define "{{ vm['name'] }}" do |node|
    {%- if vm['name']|length %}
    node.vm.hostname = "{{ vm['name'] }}"
    {%- endif %}
    {%- if vm['os']|length %}
    {#- node.vm.box = "{{ vm['os'] }}" #}
    node.vm.box = "{{ os_parser(vm) }}"
    {%- endif %}
    {%- if vm['network']|length %}
    {%- for network in vm['network'] %}
    {%- if network['type'] == 'hostonly' %}
    node.vm.network "private_network", ip: "{{ network['ip'] }}", name: "{{ network['name'] }}"
    {%- endif %}
    {%- if network['type'] == 'internal' %}
    node.vm.network "internal_network", ip: "{{ network['ip'] }}", virtualbox__intnet: "{{ network['name'] }}"
    {%- endif %}
    {%- endfor %}
    {%- endif %}
    {%- if vm['port_forwarding']['guest_port'] is not none %}
    {#- for port_forwarding in vm['port_forwarding']['guest_port'].split(',') #}
    {%- set guest_port_list = vm['port_forwarding']['guest_port'].split(',') %}
    {%- set host_port_list = vm['port_forwarding']['host_port'].split(',') %}
    {%- for index in range(guest_port_list|length) %}
    node.vm.network "forwarded_port", guest: {{ guest_port_list[index] }}, host: {{ host_port_list[index] }}, auto_correct: true
    {%- endfor %}
    {%- endif %}
    {%- if vm['provider'] == 'virtualbox' and vm['vrde']['enabled'] == True %}
    node.vm.provider :virtualbox do |vb|
      vb.customize ["modifyvm", :id, "--vrde","on"]
	  vb.customize ["modifyvm", :id, "--vrdeport","{{ vm['vrde']['port'] }}"]
      vb.customize ["modifyvm", :id, "--vrdeaddress","0.0.0.0"]
    end
    {%- endif %}
    node.vm.provision "shell", path "{{ vm['name'] }}.conf.sh"
  end
  {%- endfor %}
end
