# Service: nginx (scripts for Dockerfile)
FROM {{ vm['os'] }}
WORKDIR /nginx
RUN set -x \
    && apt-get update \
    && apt-get install -y \
    curl \
    gettext-base \
{%- for dependency in service['dependency'] %}
    {{ dependency }} \
{%- endfor %}
    && rm -rf /var/lib/apt/lists/* \
    && curl -SL http://nginx.org/download/nginx-{{ vm['services'][0]['parameter']['nginx_version'] }}.tar.gz | tar -xzv \
    && cd nginx-{{ vm['services'][0]['parameter']['nginx_version'] }} \
    && ./configure \
{%- for configure in service['configure'] %}
    {{ configure }} \
{%- endfor %}
    && make \
    && make install
CMD ["nginx","-g","daemon off;"]