  # Service: run apache2 (scripts for ansible)
{% for vm in specification['vm'] %}
{%- if vm['name'] == subject %}
  {%- include service + '/ansible/run_' + vm['os']['release'] + '.j2' %}
{%- endif %}
{% endfor %}